{% extends "base.html.twig" %}
{% block content %}
    <h1>{{ text.h1 }}</h1>
    <p>{{ text.p1 }}<br>{{ text.p1Warning }}</p>
    <div class="row">
		<div class="col-8">
			<input type="text" class="inputSearchGenre" placeholder="{{ text.searchPlaceholder }}">
			<div class="selection"></div>
			<ul class="genreResult">
                {% for genre in jsConfig.genres %}
                    <li class="genre" id="genre{{ genre.id }}" data-id="{{ genre.id }}">{{ genre.name }}</li>
                {% endfor %}
            </ul>
		    <div id="loader"></div>
		    <div class="playlistResult"></div>
		</div>
		<div class="col-4">
			<!-- https://codepen.io/Aoyue/pen/rLExYX -->
            <div class="row justify-content-around">
                <div class="col-5">
                    <div class="select-discover">
                        <select id="nbTracks">
                			<option value="25">25 {{ text.songs }}</option>
                			<option value="50">50 {{ text.songs }}</option>
                			<option value="100">100 {{ text.songs }}</option>
                			<option value="150">150 {{ text.songs }}</option>
                			<option value="200">200 {{ text.songs }}</option>
                		</select>
                    </div>
                </div>
                <div class="col-7">
    	             <button class="btn btn-primary generate" disabled data-content="{{ text.generateToolTip }}">{{ text.generate }}</button>
                </div>
            </div>
			<div class="save">
                <form action="{{ saveIntoPlaylistUrl }}" id="saveIntoPlaylist" method="POST">
    				<input name="playlistName" type="text" class="playlistName" placeholder="Nom de la playlist" required><br>
    				<button type="submit" class="btn btn-primary saveIntoPlaylist" data-content="{{ text.playlistSaveToolTip }}" disabled>
                        <img src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">{{ text.playlistSave }}
    				</button>
                </form>
			</div>
		</div>
	</div>
    <div class="feedback">
        <div class="alert alert-success"></div>
    </div>
{% endblock %}
{% block footer %}
	<script>genreManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
