{% extends "base.html.twig" %}
{% block title %}
<h2>{% trans %}discover_fa_h1{% endtrans %}</h2>
{% endblock %}

{% block content %}
    <p>{% trans %}discover_fa_p1{% endtrans %}</p>
    <div class="row">
	    <div class="col-lg-8">
		    {{ form(form) }}
			<div id="loader"></div>
			<div class="search-result animate-bottom">
			    {{ render(controller(
		            'App\\Controller\\Display::displayArtists', {artists: artistsSearch }
		        )) }}
			</div>
		</div>
		<div class="col-lg-4">
			<button class="btn btn-secondary removeAll">{% trans %}reset{% endtrans %}</button>
			<div class="row justify-content-around align-items-center">
				<div class="mb-4 mb-lg-0 mt-4 mt-lg-0 col-xl-7 select-container text-center">
    				<div class="select-discover">
				        <select id="nbTracks">
				        	<option value="1">1 {% trans %}fwa_discover_song{% endtrans %}</option>
							<option value="2">2 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="3">3 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="4">4 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="5">5 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="6">6 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="7">7 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="8">8 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="9">9 {% trans %}fwa_discover_songs{% endtrans %}</option>
							<option value="10">10 {% trans %}fwa_discover_songs{% endtrans %}</option>
						</select>
				    </div>
				    <input name="nbTracks" type="hidden"/>
    			</div>
    			<div class="col-xl-5 nb-artists-container text-center">
    				<span class="important">0</span> {% trans %}discover_fwa_selected_artists{% endtrans %}
    			</div>
			</div>
			<div class="save">
			    <h3>{% trans %}save_songs{% endtrans %}</h3>
                <form action="{{ saveUrl }}" id="saveAction" method="POST">
                    <select {{ isConnected() ? '' : 'disabled' }} class="saveOption" name="saveOption">
                        <option value="createNewPlaylist" default>{% trans %}create_new_playlist{% endtrans %}</option>
                        <option {{ isConnected() ? '' : 'disabled' }} value="existingPlaylist">{% trans %}existing_playlist{% endtrans %}</option>
                        <option {{ isConnected() and isOneDeviceActive() ? '' : 'disabled' }} value="queue">{% trans %}adding_to_queue{% endtrans %}</option>
                    </select>
    				<input {{ isConnected() ? '' : 'disabled' }} name="playlistName" type="text" class="playlistName" placeholder="{% trans %}discover_playlistName{% endtrans %}" required>
    				<select class="existingPlaylist" name="existingPlaylist">
    				    {% for name, id in playlists %}
    				        <option value="{{ id }}">{{ name }}</option>
    				    {% endfor %}
    				</select>
    				{% if isConnected() %}
            				<button type="submit" class="btn btn-primary saveAction" data-content="{% trans %}discover_playlistSaveToolTip{% endtrans %}" {% if artistsInit is empty %}disabled{% endif %}>
                                <img src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">{% trans %}validate{% endtrans %}
            				</button>
            			{% endif %} 
    				</form>
        			{% if not isConnected() %}
        			    <p class="importantSecondary">{% trans %}discover_connexion_explain{% endtrans %}</p>
        			    <form action="{{ path('spoti_auth') }}">
        			        <button type="submit" class="btn btn-primary login"><img class="mr-1" src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">{% trans %}login{% endtrans %}</button>
    			        </form>
    				{% endif %}
                </form>
			</div>
			<div class="artistSelection">{{ render(controller(
				'App\\Controller\\Display::displayArtists', {artists: artistsInit }
			)) }}</div>
		</div>
	</div>
	<div class="feedback">
        <div class="alert alert-success"></div>
    </div>
{% endblock %}
{% block footer %}
	{{ encore_entry_script_tags('discoverFromSelectedArtist') }}
	<script>
		$( document ).ready(function() {
			artistManager({{ jsConfig|json_encode|raw }});
		});
	</script>
<!-- Pour la modale : petit plus à droite du sélecteur de playlist, fait descendre une champ texte en dessous pour remplir le nom de la playlist -->
<!-- ou alors remplace le sélecteur de playlist par le champ de texte -->
<!-- ou alors au clique sur le + ça "grise" la sélection d'une playlist existante, il faut valider la création de la playlist puis on rafraichit -->
<!-- le sélecteur de playlist en mettant en premier la nouvelle playlist crée -->
<!-- ou faire une tabulation avec un OU avec en haut le sélecteur de playlist et en bas le champ texte -->

<!-- de manière générale : contextualiser, pas de place au doute -->
<!-- privilégier des verbes / actions -->
{% endblock %}
