{% extends "base.html.twig" %}
{% block title %}
<h1>{% trans %}discover_h1{% endtrans %}</h1>
{% endblock %}
{% block content %}
    <p>{% trans %}discover_p1{% endtrans %}<br>{% trans %}discover_p1Warning{% endtrans %}</p>
    <hr>
    <div class="genre-info-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="picto-info picto-info-big bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg> 
        <div>
          <p>{% trans %}discover_helpGenres{% endtrans %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="picto-info bi bi-info-circle-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg> :</p>
          <ul>
              <li><a href="{{ path('artist_selection') }}">{% trans %}discover_helpGenres1{% endtrans %}</a></li>
              <li><a href="{{ path('artists_followed') }}">{% trans %}discover_helpGenres2{% endtrans %}</a></li>
          </ul>
      </div>
    </div>
    <div id="app">
        <div class="row">
    		<div class="col-lg-8">
    		    <div class="containerSelected">
        			<input @keyup="searchGenres" v-model="inputSearchGenre" type="text" class="inputSearchGenre" placeholder="{% trans %}discover_searchPlaceholder{% endtrans %}">
        			<div class="selection">
    					<selected-genre-item
    						v-for="item in selectedGenres"
    						v-bind:genre="item"
    						v-bind:key="item.id"
    						@deletegenre="deleteSelectedGenre"
    					></selected-genre-item>
    				</div>
        			<ul class="genreResult">
        			    <genre-item
    						v-for="item in getActiveGenres()"
    						v-bind:genre="item"
    						v-bind:key="item.id"
    						@clickgenre="addSelectedGenres"
    					></genre-item>
                    </ul>
                </div>
    		    <div id="loader"></div>
    		    <div class="playlistResult"></div>
    		</div>
    		<div class="col-lg-4">
    			<!-- https://codepen.io/Aoyue/pen/rLExYX -->
                <div class="row justify-content-around">
                    <div class="col-xl-5">
                        <div class="select-discover mb-4 mb-xl-0">
                            <select id="nbTracks">
                    			<option value="25">25 {% trans %}discover_songs{% endtrans %}</option>
                    			<option value="50">50 {% trans %}discover_songs{% endtrans %}</option>
                    			<option value="100">100 {% trans %}discover_songs{% endtrans %}</option>
                    			<option value="150">150 {% trans %}discover_songs{% endtrans %}</option>
                    			<option value="200">200 {% trans %}discover_songs{% endtrans %}</option>
                    		</select>
                        </div>
                    </div>
                    <div class="col-xl-7">
        	             <button :disabled="selectedGenres.length <= 0" class="btn btn-primary generate" data-content="{% trans %}discover_generateToolTip{% endtrans %}">{% trans %}discover_generate{% endtrans %}</button>
                    </div>
                </div>
    			<div class="save">
                    <form action="{{ saveIntoPlaylistUrl }}" id="saveIntoPlaylist" method="POST">
        				<input name="playlistName" type="text" class="playlistName" placeholder="{% trans %}discover_playlistName{% endtrans %}" required><br>
        				<button type="submit" class="btn btn-primary saveIntoPlaylist" data-content="{% trans %}discover_playlistSaveToolTip{% endtrans %}" disabled>
                            <img src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">{% trans %}discover_playlistSave{% endtrans %}
        				</button>
                    </form>
    			</div>
    		</div>
    	</div>
	</div>
    <div class="feedback">
        <div class="alert alert-success"></div>
    </div>
{% endblock %}
{% block footer %}
    {{ encore_entry_script_tags('discoverFromGenres') }}
    {{ encore_entry_script_tags('appVue') }}
	<script>
	    genreManager({{ jsConfig|json_encode|raw }});
	    var url            = '';
	    var urlSearchGenre = "{{ urlSearchGenre }}";
	    var vueGenres      = {{ jsConfig.genres|json_encode|raw }};
	    var vueArtists     = [];
	    var text           = {{ text|json_encode|raw }};
	</script>
{% endblock %}
