{% extends "testArea/base.html.twig" %}
{% block title %}Solenn area{% endblock %}

{% block sidebarLeft %}
	<div class="sidebar-left">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalePlaylists">
		  Enregistrer
		</button><br>
		<button class="removeAll">Supprimer toute la sélection</button>
		{{ render(controller(
			'App\\Controller\\Display::displayArtists', {artists: artistsInit }
		)) }}
	</div>
{% endblock %}
{% block content %}
    <h3>Top tracks by artists</h3>
    {{ form(form) }}
	<div id="loader"></div>
	<div class="search-result animate-bottom">
	    {{ render(controller(
            'App\\Controller\\Display::displayArtists', {artists: artistsSearch }
        )) }}
	</div>
	{{ render(controller(
		'App\\Controller\\Display::displayPlaylists'
	)) }}
{% endblock %}
{% block footer %}
	<script>artistManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
