<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        {# Variables twig #}
        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        {% set params = route_params|merge(app.request.query.all) %}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
        {% endblock %}

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        
        {% for locale in locales %}
          {% if locale != app.request.locale %}
            <link rel="alternate" hreflang="{{ locale}} " href="{{ path(route, params|merge({ _locale: locale })) }}" />
          {% endif %}
        {% endfor %}
        
        <!-- <link rel="alternate" hreflang="{{ app.request.locale }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" /> -->
        {% if app.environment == 'prod' %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179780767-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
  
            gtag('config', 'UA-179780767-1');
          </script>
        {% endif %}
    </head>
    <body class="{{app.request.attributes.get('_route')}}">
        <header>
        <div class="banner d-flex flex-column-reverse flex-md-row">
            <a class="navbar-brand d-flex" href="{{ path('recommendations') }}"><img class="logo" src="{{ asset('build/images/logo.png') }}"/><h1>{% trans %}brand_name{% endtrans %}</h1></a>
            <div class="navbar-right">
                {% if isConnected() %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle login" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}<img class="ms-2" src="{{ app.user.getImageUrl() }}" alt="Image de profil">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="{{ path('logout') }}">{% trans %}logout{% endtrans %}</a></li>
                        </ul>
                    </div>
                {% else %}
                    <form action="{{ path('spoti_auth') }}"><button type="submit" class="btn btn-primary login"><img class="mr-1" src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">{% trans %}login{% endtrans %}</button></form>
                {% endif %}
                <div class="changeLanguageSelector">
                    <form class="formLanguage" action="/changeLanguage" id="changeLanguage" method="POST">
                        <select name="language">
                            <option data-lang="fr" value="{{ path(route, params|merge({ _locale: 'fr' })) }}">Français</option>
                            <option data-lang="en" value="{{ path(route, params|merge({ _locale: 'en' })) }}">English</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="nav-link">Génère une playlist : </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% set path = app.request.attributes.get('_route') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if path == 'recommendations' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('recommendations') }}">{% trans %}recommendations_h1{% endtrans %}</a>
                    </li>
                    <li class="nav-item {% if path == 'discover' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('discover') }}">{% trans %}from_genre{% endtrans %}</a>
                    </li>
                    <li class="nav-item {% if path == 'artist_selection' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('artist_selection') }}">{% trans %}from_selected_artists{% endtrans %}</a>
                    </li>
                    <li class="nav-item {% if path == 'artists_followed' or path == 'artists_followed_not_connected' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('artists_followed') }}">{% trans %}from_followed_artists{% endtrans %}</a>
                    </li>
                    <li class="nav-item dropdown {% if path == 'listen_later' or path == 'listen_later_consult' or path == 'listen_later_not_connected' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('listen_later') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}listenlater{% endtrans %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item {% if path == 'listen_later' or path == 'listen_later_not_connected' %}activedropdown{% endif %}" href="{{ path('listen_later') }}">{% trans %}add{% endtrans %}</a></li>
                            <li><a class="dropdown-item {% if path == 'listen_later_consult' %}activedropdown{% endif %}" href="{{ path('listen_later_consult') }}">{% trans %}consult{% endtrans %}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        </header>
        
        {% block sidebarLeft %}
        {% endblock %}
        <div class="container mb-0 mb-sm-5">
            <div class="header mt-2 ">
              {% block title %}
              {% endblock %}
           </div>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
          <a id="link-top"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></a>
            {{ encore_entry_script_tags('app') }}
            {% block footer %}{% endblock %}
            <script>
                changeLanguage("{{ app.request.locale }}");
                traductions = {
                    'default_error_msg' : '{{ 'feedbackError'|trans }}'
                };
            </script>
        </footer>
    </body>
</html>
