<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        {# Variables twig #}
        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        {% set params = route_params|merge(app.request.query.all) %}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        
        {% for locale in locales %}
          {% if locale != app.request.locale %}
            <link rel="alternate" hreflang="{{ locale}} " href="{{ path(route, params|merge({ _locale: locale })) }}" />
          {% endif %}
        {% endfor %}
        
        <!-- <link rel="alternate" hreflang="{{ app.request.locale }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" /> -->
        {% if app.environment == 'prod' %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179780767-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
  
            gtag('config', 'UA-179780767-1');
          </script>
        {% endif %}
    </head>
    <body class="{{app.request.attributes.get('_route')}}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ path('discover') }}">{% trans %}brand_name{% endtrans %} :</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if app.request.attributes.get('_route') == 'discover' %}active{% endif %}">
                <a class="nav-link" href="{{ path('discover') }}">{% trans %}from_genre{% endtrans %}</a>
              </li>
              <li class="nav-item {% if app.request.attributes.get('_route') == 'artist_selection' %}active{% endif %}">
                <a class="nav-link" href="{{ path('artist_selection') }}">{% trans %}from_selected_artists{% endtrans %}</a>
              </li>
              <li class="nav-item {% if app.request.attributes.get('_route') == 'artists_followed' %}active{% endif %}">
                <a class="nav-link" href="{{ path('artists_followed') }}">{% trans %}from_followed_artists{% endtrans %}</a>
              </li>
            </ul>
          </div>
        </nav>
        {% block sidebarLeft %}
        {% endblock %}
        <div class="container mb-0 mb-sm-5">
            <div class="header flex-column-reverse flex-md-row mt-2 mt-md-0">
              {% block title %}
              {% endblock %}
              <div class="changeLanguageSelector">
                  <form action="/changeLanguage" id="changeLanguage" method="POST">
                      <select name="language">
                          <option data-lang="fr" value="{{ path(route, params|merge({ _locale: 'fr' })) }}">Français</option>
                          <option data-lang="en" value="{{ path(route, params|merge({ _locale: 'en' })) }}">English</option>
                      </select>
                  </form>
              </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
          <a id="link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></a>
            {{ encore_entry_script_tags('app') }}
            {% block footer %}{% endblock %}
            <script>changeLanguage("{{ app.request.locale }}");</script>
        </footer>
    </body>
</html>
