<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
    </head>
    <body>
        {% block sidebarLeft %}
        {% endblock %}
        <div class="container">
            <div class="changeLanguageSelector">
                <form action="/changeLanguage" id="changeLanguage" method="POST">
                    <select name="language">
                        <option value="fr">Français</option>
                        <option value="en">English</option>
                    </select>
                </form>
            </div>
            {% block content %}
                <h3>Cliquez sur un des boutons</h3>
                <a href="{{ path('solenn')}}">Go to solenn :)</a>
            {% endblock %}
        </div>
    </body>
    <footer>
        {{ encore_entry_script_tags('app') }}
        {% block footer %}{% endblock %}
        <script>changeLanguage("{{ app.request.locale }}");</script>
    </footer>
</html>
