<!doctype html>
<html lang="fr">
    <head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
    </head>
    <body>
        {% block sidebarLeft %}
        {% endblock %}
        <div class="container">
            {% block content %}
                <h3>Cliquez sur un des boutons</h3>
                <a href="{{ path('solenn')}}">Go to solenn :)</a>
            {% endblock %}
        </div>
    </body>
    <footer>
        {{ encore_entry_script_tags('app') }}
        {% block footer %}{% endblock %}
    </footer>
</html>
